body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
}

h1 {
    color: #000;
    font-size: 5vw;
    letter-spacing: 6px;
}

.pad {
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    user-select: none;
    box-shadow: 0 8px 6px -6px black;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    border: 4px solid;
}

.box:hover {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}

.box:active {
    background-color: #444;
    transform: scale(1.1);
    transition: all 0.2s;
}